/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F7F8;
    color: #333;
    width: 1600px;
    height: 1195px;
    margin: 0 auto;
}

/* Header */
.header {
    background: #FFFFFF;
    padding: 12px 32px;
    display: grid;
    grid-template-columns: 423px auto 414px;
    align-items: center;
    max-width: 1564px;
    margin: 18px auto;
    border-radius: 70px;
}

.logo img {
    width: 211px;
    height: 48px;
}

.navigation {
    display: flex;
    align-items: center;
    /* width: 663px; */
    height: 63px;
    /* gap: 20px; */
}

.navigation a {
    display: flex;
    align-items: center;
    margin-right: 35px;
    padding: 10px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.navigation a img {
    margin-right: 8px;

}

.navigation a.active {
    color: #FFFFFF;
    background-color: #01F0D0;
    padding: 12px 16px;
}

.navigation a.active img {
    margin-right: 9px;
    width: 24px;
    height: 17px;
}

.user-profile {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.user-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.user-name {
    /* width: 121px; */
    height: 19px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
}

.user-role {
    width: 129px;
    height: 19px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0px;
    color: #707070;
}

.settings-icon {
    width: 19px;
    height: 20px;
}

.more-options-icon {
    margin-left: 12px;
    width: 4px;
    height: 18px;
}

.divider {
    margin-right: 12px;
    width: 1px;
    height: 44px;
    background-color: #EDEDED;
    opacity: 1;
}

.verfical-divider {
    margin: 16px 0px;
    width: 208px;
    height: 1px;
    background-color: #CBC8D4;
    opacity: 1;
}

/* Container Layout */
.container {
    display: grid;
    grid-template-columns: 367px auto 367px;
    max-width: 1600px;
    margin: 18px auto;
    padding: 20px;
    gap: 32px;
}

/* Sidebar */
.sidebar {
    background-color: #ffffff;
    width: 367px;
    height: 1054px;
    border-radius: 16px;
}

.sidebar h2 {
    font-size: 24px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0px;
    height: 33px;
    align-items: center;
    color: #072635;
}

.search-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
}

/* Container holding the patient list and slider */
.patient-list-container {
    position: relative;
    width: 367px;
    height: 941px;
    overflow-y: auto;
}

/* Patient list styling */
.patient-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Custom slider rail styling */
.patient-list-slider {
    position: absolute;
    top: 0;
    right: 4px;
    width: 6px;
    height: 100%;
    background-color: #E3E4E6;
    border-radius: 3px;
}

/* Custom slider thumb styling */
.patient-list-thumb {
    width: 100%;
    height: 100px;
    background-color: #072635;
    border-radius: 3px;
    position: relative;
    top: 0;
}

.patient-item {
    display: flex;
    align-items: center;
    width: 353px;
    height: 80px;
    padding: 16px 20px;
    cursor: pointer;
}

.patient-item:first-child {
    height: 64px;
    padding-top: 0;
}

.patient-item:last-child {
    height: 64px;
    padding-bottom: 0;
}

.patient-list li img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.patient-list .more-options {
    width: 18px;
    height: 4px;
    margin-right: 0px !important;
}

.patient-list .selected {
    background-color: #D8FCF7;
    color: #FFFFFF;
    font-weight: bold;
    width: 353px;
    height: 80px;
}

.patient-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.patient-info .patient-name {
    font-size: 14px;
    color: #072635;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    align-items: center;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 2px;
}

.patient-info .patient-details {
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    align-items: center;
    letter-spacing: 0px;
    text-align: left;
    color: #707070;
    margin-top: 2px;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
}

/* Diagnosis History and Vitals Section */
.diagnosis-vitals {
    background-color: #ffffff;
    padding: 20px;
    width: 766px;
    height: 673px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.diagnosis-vitals h2 {
    font-size: 24px;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.chart-container {
    margin: 40px 0px 20px 0px;
    width: 726px;
    height: 298px;
    background: #F4F0FE 0% 0% no-repeat padding-box;
    display: flex;
    border-radius: 12px;
    opacity: 1;
}

.chart-details {
    display: block;
    width: 486px;
    height: 260px;
    padding: 16px;
}

.chart-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    font-weight: bold;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    padding: 0px 32px 12px 0px;
}

.chart-title h2 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #072635;
}

.last-months {
    font-size: 14px;
    color: #072635;
    display: flex;
    align-items: center;
}

.dropdown-icon {
    width: 11px;
    height: 6px;
    margin-left: 16px;
}

.statistics {
    margin: 16px 16px 81px 0px;
    width: 208px;
    height: 201px;
}

.stat {
    display: grid;
}

.legend {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #072635;
    opacity: 1;
    margin-bottom: 8px;
    align-items: center;
}

.legend-color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 4px;
}

.systolic-color {
    background-color: #E57373;
}

.diastolic-color {
    background-color: #8C6FE6;
}

.stat-value {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #072635;
    width: 38px;
    height: 30px;
    margin-bottom: 8px;
}

.stat-label {
    font-size: 14px;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
    align-items: center;
}

.bloodPressureChart {
    width: 417px;
    height: 187px;
}

.Arrow-icon {
    margin-right: 8px;
}

.vitals {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.vitals h1 {
    font-size: 30px;
    letter-spacing: 0px;
    width: 109px;
    height: 41px;
    color: #072635;
    text-align: left;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.vitals h4 {
    font-size: 16px;
    margin-top: 16px;
    letter-spacing: 0px;
    color: #072635;
    text-align: left;
}

.vitals p {
    font-size: 14px;
    margin-top: 17px;
    letter-spacing: 0px;
    color: #072635;
    text-align: left;
}

.vitals .vital-1 {
    padding: 16px;
    margin-right: 21px;
    flex: 1;
    width: 228px;
    height: 242px;
    background: #E0F3FA 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.vitals .vital-2 {
    padding: 16px;
    margin-right: 21px;
    flex: 1;
    width: 228px;
    height: 242px;
    background: #FFE6E9 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.vitals .vital-3 {
    padding: 16px;
    flex: 1;
    width: 228px;
    height: 242px;
    background: #FFE6F1 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.vital-3 .vital-arrow {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-right: 8px;
    vertical-align: middle;
}

.vitals .vital img.vital-icon {
    width: 96px;
    height: 96px;
}

/* Diagnostic List */
.diagnostic-list {
    background-color: #ffffff;
    width: 766px;
    height: 349px;
    padding: 20px;
    border-radius: 16px;
    position: relative;
}

.diagnostic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 40px 20px;
}

.diagnostic-list table {
    width: 100%;
    border-collapse: collapse;
}

.diagnostic-list thead {
    background-color: #F6F7F8;
    color: #072635;
    border-radius: 16px 16px 0 0;
}

.diagnostic-list th {
    padding: 15px 16px 14px 16px;
    font-weight: bold;
    text-align: left;
}

.diagnostic-list th:first-child {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.diagnostic-list th:last-child {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.diagnostic-list td {
    padding: 11px 16px 10px 16px;
    text-align: left;
    border-bottom: 1px solid #F6F7F8;
    border-spacing: 7px;
}

.diagnostic-list tr:last-child td {
    border-bottom: none;
}

/* Custom slider rail styling */
.diagnostic-list-slider {
    position: absolute;
    top: 155px;
    right: 20px;
    width: 6px;
    height: 178px;
    background-color: #E3E4E6;
    border-radius: 3px;
}

/* Custom slider thumb styling */
.diagnostic-list-thumb {
    width: 100%;
    height: 100px;
    background-color: #072635;
    border-radius: 3px;
    position: absolute;
    top: 0;
}

/* Lab Results */
.lab-results {
    background-color: #ffffff;
    margin-top: 32px;
    width: 367px;
    height: 296px;
    border-radius: 16px;
}

.lab-header {
    padding: 20px 210px 16px 20px;
}

.lab-results h2 {
    font-size: 24px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0px;
    height: 33px;
    align-items: center;
    color: #072635;
}

.lab-results ul {
    list-style: none;
}

.lab-results li {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

.result-list-container {
    position: relative;
    width: 367px;
    height: 296px;
    overflow-y: auto;
}

.result-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.result-list .selected {
    background-color: #F6F7F8;
    color: #FFFFFF;
}

/* Custom slider rail styling */
.result-list-slider {
    position: absolute;
    top: 0;
    right: 20px;
    width: 6px;
    height: 207px;
    background-color: #E3E4E6;
    border-radius: 3px;
}

/* Custom slider thumb styling */
.result-list-thumb {
    width: 100%;
    height: 100px;
    background-color: #072635;
    border-radius: 3px;
    position: relative;
    top: 0;
}

.result-item {
    display: flex;
    align-items: center;
    width: 315px;
    height: 35px;
    padding: 10px 16px;
    margin: 5px 4px 5px 22px;
    cursor: pointer;
}

.result-item:first-child {
    margin-top: 0;
}

.result-item:last-child {
    margin-bottom: 0;
}

.result-list li img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.result-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.result-info .result-name {
    font-size: 14px;
    color: #072635;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    align-items: center;
    letter-spacing: 0px;
    text-align: left;
}

/* Profile Section */
.profile {
    margin-top: -14px;
    text-align: center;
    background-color: #ffffff;
    width: 367px;
    height: 740px;
    border-radius: 16px;
}

.profile-image {
    width: 200px;
    height: 200px;
    margin: 32px 84px 24px 83px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile h3 {
    padding: 0px 102px 32px 101px;
    font-size: 24px;
}

.profile-detail {
    padding: 0px 0px 24px 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0px;
    color: #072635;
    text-align: left;
    text-transform: capitalize;
}

/* Detail Text Container */
.detail-text {
    display: flex;
    flex-direction: column;
}

/* Detail Title */
.detail-title {
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    color: #707070;
    font-weight: normal;
    margin-bottom: 2px;
}

/* Detail Info */
.detail-info {
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: #072635;
    text-transform: capitalize;
    margin-top: 2px;
}

.detail-icon {
    width: 42px;
    height: 42px;
    margin-right: 16px;
}

button {
    background-color: #00C292;
    color: #fff;
    margin: 18px 74px 32px 73px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 220px;
    height: 41px;
    border-radius: 41px;
}

button:hover {
    background-color: #009e78;
}